body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.notification {
  position: relative;
  font-size: 32px;
  color: #666;
}

.notification .badge{
    position: absolute;
    color: #fff;
    background-color: rgb(163, 48, 48);
    top: -10px;
    right: -10px;
    font-size: 18px;
    padding: 4px 2px;
    border-radius: 4px;
}