button {
  display: block;
  margin: 30px auto;
  border: 0;
  background: green;
  padding: 10px 30px;
  color: white;
  border-radius: 99px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.title {
  position: relative;
  z-index: 10;
}

button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  /* bottom: 0; */
  height: 100%;
  background-color: red;
  border-radius: 99px;
  width: 0;
  transition-property: width;
  transition: 0.3s;
}

.btn:hover::before {
  width: 100%;
}
